.img-block {
  width: 100vw;
}

/* Navbar */
#navbar {
  flex-direction: column;
}

#navbar .menu {
  margin-top: 1rem;
}

.h-block-flexcontainer {
  flex-direction: column;
}

.img-block {
  width: 100%;
  flex: 1;
}

.text-block {
  flex: 2;
}

/* Section: Wat */
#wat {
  flex-direction: column-reverse;
}

/* Contact */
#contact {
  display: block;
}

#contact .contact-img {
  display: none;
}

/* Modal */
.modal {
  padding-top: 5vh; /* Location of the box */
}

.modal-content {
  width: 90%;
}