p {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

/* Utility */

.l-heading {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.img-block {
  width: 100vw;
}

  /* Navbar */
#navbar {
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
}

#navbar .menu ul li{
  padding: 0.75rem;
  font-size: 0.75rem;
}

.flex-container {
  flex-direction: column;
}

.img-block {
  width: 100%;
  flex: 1;
}

#development {
  flex-direction: column-reverse;
}

/* Section: Home */

#home ul {
  list-style-type: none;
  align-content: center;
}

#home .prijslijst .prijslijst-item {
  text-align: center;
  padding: 0;
}

.flex-container {
  flex-direction: column;
}

/* Section: Wat */
#wat {
  flex-direction: column-reverse;
}

/* Contact */
#contact {
  display: block;
}

#contact .contact-img {
  display: none;
}

/* Modal */
.modal {
  padding-top: 5vh; /* Location of the box */
}

.modal-content {
  width: 90%;
}

#main-footer {
  flex-direction: column;
}

#main-footer div {
  margin: 0.5rem 0.5rem !important;

}