/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Padding and margin reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Remove link styling */

a {
  text-decoration: none;
}

/* Normal text styling */

p {
  color: #777;
  line-height: 1.5rem;
}

/* Utility */
.primary-text {
  color: #4285f4 !important;
}

.secondary-text {
  color: #ff6685 !important;
}

.active-btn {
  background: #ff6685 !important;
  border-radius: 5px;
  color: #fff !important;
}

.l-heading {
  font-size: 3rem;
  color: #777;
}

.m-heading {
  font-size: 2rem;
  color: #777;
}

.s-heading {
  font-size: 1.25rem;
  color: #777;
}

.l-text {
  font-size: 1.5rem;
}

.m-text {
  font-size: 1.25rem;
}

.s-text {
  font-size: 0.75rem;
}


.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.primary-btn {
  background: #ff6685;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  color: #fff !important;
  max-width: 10rem;
  border: none !important;
}

.primary-btn:hover {
  cursor: pointer;
  background: #ff7685
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 1rem;
}

.img-block {
  height: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none;
}

.maak-afspraak-button {
  background: #d9e6fc !important;
  color: #777 !important;
  border-radius: 5px;
}

.maak-afspraak-button:hover {
  background: #4285F4 !important;
  border-radius: 5px;
  color: #fff !important;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;

  position: sticky;
  z-index: 1;
  top: 0;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li a {
  color: #777;
  padding: 0.75rem;
  margin: 0.5rem;
}

#navbar ul li a:hover {
  background: #ff7685;
  border-radius: 5px;
  color: #fff;
}

  /* Section: Home */

#home div {
  flex: 1;
}

#home .prijslijst {
  display: flex;
  flex-direction: column;
}

#home .prijslijst .prijslijst-item {
  text-align: left;
  color: #777;
  padding: 0.25rem;
  margin: 0.25rem;
}

#home .home-img {
  background: url('../img/home-img.png') no-repeat center center/contain;
}

  /* Section: Wat*/

#wat div {
  flex: 1;
}

#wat .wat-img {
  background: url('../img/wat-img.png') no-repeat center center/contain;
}

  /* Section: Wie */
#wie div {
  flex: 1;
}

#wie .wie-img {
  background: url('../img/wie-img.png') no-repeat center center/contain;
}

/* Section: Contact */
#contact {
  height: unset;
}

#contact div {
  flex: 1;
}

#contact .contact-img {
  background: url('../img/contact-img.png') no-repeat center center/contain;
}


#contact form label {
  display: block;
  color: #777;
}

#contact .contact-form input, #contact .contact-form textarea {
  width: 100%;
  border: #888 solid 1px;
  border-radius: 5px;
  font-size: 1.25rem;
  margin: 1rem 0;
  padding: 1rem;
  resize: unset;
}

#contact .checkbox {
  clear: left;
  float: left;
}

#contact .submit-btn:hover {
  cursor: pointer;
  background: #ff7685;
}

#contact p {
  margin: 1rem 0;
  padding: 1rem 0;
}

/* Footer */
#main-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #777;
}

#main-footer div {
  text-align: center;
}

  /* Checkbox */
/* The container */
.container {
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.container input {
  display: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4285f4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%;
}

/* The Close Button */
.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}